<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stella.ehealthtest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EHealthV_03"
        android:usesCleartextTraffic="true">
        <activity android:name=".vitalSigns.VitalHistory"></activity>
        <activity
            android:name=".add_ecg"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_vitals"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".basicInfo_Registration"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".home_screen"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".userInfo_registration"
            android:parentActivityName=".MainActivity" /> <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ecg.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>